{{#if movies}}
    <div class="movies-list">
        <div class="container">
            <div class="row">
                {{#each movies}}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>{{title}}</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="/movies/watch/{{id}}" role="button">Watch now &raquo;</a></p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{else}}
    <h1>You didn't add any movie to favorites!</h1>
{{/if}}