<div class="jumbotron">
    <h1> Home Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, consequatur enim doloribus repellendus rerum? Asperiores delectus at magnam molestiae quis facere dolor, vel libero a dicta, praesentium laudantium, distinctio esse!</p>
</div>